body {
  font-family: "Montserrat";
  background-color: #e9e2cf;
  z-index: -999;
  --primary-color: #282a36;
  --secondary-color: #f5ffb7;
  --terciary-color: #b2ac9d;
  color: var(--primary-color);
}

header .nav-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.logo {
  position: relative;
  padding: 1em 0;
  transition: all 0.5s ease-in-out;
  color: var(--primary-color);
  font-size: 2em;
  text-decoration: none;
}

svg {
  stroke-width: 1.5;
  fill: var(--primary-color);
  stroke: var(--primary-color);
  stroke-linecap: round;
  transition: stroke 0.75s ease, transform 0.5s ease-in-out;
  z-index: 2;
  position: fixed;
  padding: 2.5em;
  right: 0;
}

svg:hover {
  fill: var(--secondary-color);
  stroke: var(--secondary-color);
  cursor: pointer;
}

.active {
  fill: var(--secondary-color);
  stroke: var(--secondary-color);
  transform: scale(0.8);
}

.nav-row a {
  text-decoration: none;
}

.main-menu {
  position: fixed;
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  outline: none;
  align-items: center;
  opacity: 0;
  right: 0;
  top: 0;
  overflow-x: visible;
  overflow-y: auto;
  transform: scaleX(0);
  z-index: 1;
}

.main-menu ul {
  list-style: none;
  margin: 0;
  height: 100vh;
  width: 100%;
  background-color: var(--primary-color);
  text-align: center;
  padding: 4em;
}

.main-menu a {
  display: block;
  color: var(--secondary-color);
  font-weight: 200;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

.main-menu li {
  opacity: 0;
  padding: 1em 0;
}

.main-menu a:hover,
.main-menu a:focus {
  text-decoration: none;
  cursor: pointer;
  transform: scale(1.2);
}

@media (min-width: 950px) {
  .nav-row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }

  .logo:hover {
    transform: scale(0.9);
  }

  svg {
    visibility: hidden;
  }

  .main-menu {
    position: static;
    opacity: 1;
    display: block;
    transform: scaleX(1); /*revert for burger animation*/
  }

  .main-menu ul {
    padding: 0;
    height: auto;
    width: max-content;
    background: none;
    text-align: center;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
  }

  .main-menu li {
    display: inline-block;
    padding: 0 1em;
    opacity: 1;
  }

  .main-menu a {
    font-family: "Montserrat";
    font-size: 1.5em;
    text-decoration: none;
    color: var(--primary-color);
    display: inline;
    transition: all 1s ease 0s;
    transition-delay: 0.15s;
  }
  .menu-toggle,
  .main-menu .menu-close {
    display: none;
  }

  .main-menu a:hover,
  .main-menu a:focus {
    text-decoration: none;
  }

  .main-menu li:first-child a {
    border-top: none;
  }

  .main-menu:target + .backdrop {
    display: none;
  }

  .main-menu a:hover {
    color: var(--secondary-color);
  }
}
